@import url('https://fonts.googleapis.com/css?family=Numans');
/* Global Styles */
:root {
  --primary-color: #93aabd;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #f11810;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Numans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100vw;
}

.react-bootstrap-table{
  background-color:#fff;
  overflow: auto;
  max-height: 80vh;
  max-width: 50vw;
}
.react-bootstrap-table::-webkit-scrollbar {
  width: 10px;
}

.react-bootstrap-table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #34373f; 
  border-radius: 10px;
}
 
.react-bootstrap-table::-webkit-scrollbar-thumb {
  background: #58757573; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.react-bootstrap-table::-webkit-scrollbar-thumb:hover {
  background: #58757573; 
}
/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.alert {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 400px;
  border-radius: 5px;
  margin-left: 700px;
  align-self: center;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  font-family: 'Numans', sans-serif;
  font-size: 14;
}

.alert i {
  color: #fff;
}

.btn-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
  height: 35px;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}


.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}


.alert-success {
  background: var(--success-color);
  color: #fff;
}


.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

/* select */
.exercises-slct {
  font-size: 14px;
  margin-top: 5px;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-right: 20px;
  border: none;
  outline: 0;
  width: 200px;
  /* overflow:auto; */
  appearance: none;
  -webkit-appearance: none;
-moz-appearance: none;
}

/* option:checked {
  background: #3d90df linear-gradient(0deg, #3d90df 0%, #3d90df 100%);
} */
.inner-table {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  max-width: 60vw;
  max-height: 80vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: -300px;
  margin-left: 600px;
}
/* Overlay */
.dark-overlay {
  background-color: #00000098;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100vw;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}


.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}


/* Landing Page */
.landing {
  position: relative;
  background: url('./images/gloves.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  text-align: center;
}
  
.card {
  margin-top: 260px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 28vw;
  height: 45vh;
  border: 1px solid #6d6d6d;
  background-color: #00000080;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}


 .card h3 {
  color: #f4f4f4;
  padding: 0.50em;
  padding-top: 0.50em;
  padding-right: 220px;
  padding-bottom: 1.15em;
  font-family: 'Numans', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.input-group form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
i {
  color: #fcab10;
  padding-right: 1em;
}

.form-control {
  width: 220px;
  margin-bottom: 30px;
  height: 30px;
}
.form-control-extra {
  width: 220px;
  margin-bottom: 30px;
  height: 30px;
}

.links {
  color: #e7dfdf;
}
  
.links a {
  margin-left: 4px;
}

.card-footer {
  margin-top: 40px;
}

.input-login {
  padding-top: 20px;
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  padding: .85em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Numans', sans-serif;
  font-weight: 500;
}

.input-login {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.input-login:hover {
  box-shadow: 0 0 40px 40px #93aabd inset;
}

a:hover {
  color: #4696db;
}
/* Register Page */
.register {
    position: relative;
    background: url('./images/gloves.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    text-align: center;
}


.register-card {
  padding-top: 20px;
  border: solid #6d6d6d 1px;
  height: 63vh;
  margin-top: 150px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 28vw;
  background-color: #00000080;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.register-card h3 {
  align-items: flex-start;
  padding-bottom: 0.5em;
  color: #f4f4f4;
  padding-right: 180px;
  font-family: 'Numans', sans-serif;
  font-size: 30px;
  font-weight: 300;
}


.register-input-group-text .form-control {
  border: 1px solid #1d1c1c;
}

.input-register {
  padding-top: 15px;
  padding-bottom: 15px;
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.85em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Numans', sans-serif;
  font-weight: 500;
}

.input-register {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.input-register:hover {
  box-shadow: 0 0 40px 40px #93aabd inset;
}

.card-footer {
  margin-top: 10px;
}
register-input-group-text i {
  margin-right: -45px;
}

/* Dashboard */
.dashboard {
  position: absolute;
   background: url('./images/gloves.jpg') no-repeat center center/cover;
   height: 100vh; 
  display: flex;
}

.clients{
  height: 80vh; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

.client-table {
  width: 43vw;
  background-color: #00000080;
  border-collapse: collapse;
}

.client-table thead {
  border-bottom: 1px solid #6d6d6d;
}
.client-table td {
  border-bottom: 1px solid #6d6d6d;
}
.client-table tr{
  border-bottom: 1px solid;
  max-height: 10vh;
  text-align: justify;
}
.table-wrapper {
  position: relative;
  overflow: auto;
  max-height: 50vh;
  border: solid #535252 1px;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
/* Scrollbar */
.table-wrapper::-webkit-scrollbar {
  width: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #103aad; 
  border-radius: 10px;
}
 
.table-wrapper::-webkit-scrollbar-thumb {
  background: #4aaaaa73; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #3a74af; 
}
/* Add a client */
.add {
  position: relative;
  background: url('./images/gloves.jpg') no-repeat center center/cover; 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}
/* .add-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #696666;
  margin-top: 315px;
  margin-left: auto;
  margin-right: auto;
  width: 18.5vw;
  height: 44vh;

} */
.add-card {
  margin-top: 40px;
  margin-bottom: auto;
  overflow: auto;
  padding-top: 10px;
  border:1px solid #6d6d6d;
  height: 80vh;
  width: 58vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #00000080;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em; 
}

.add-card-body {
  text-align: left;
}
.add-card::-webkit-scrollbar {
  width: 10px;
}

.add-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #103aad; 
  border-radius: 10px;
}
 
.add-card::-webkit-scrollbar-thumb {
  background: #4aaaaa73; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.add-card::-webkit-scrollbar-thumb:hover {
  background: #3a74af; 
}
.add-card h3 {
  padding-bottom: 20px;
  background-color: #00000080;
  margin-top: -8px;
  padding-left: 10px;
  font-family: 'Numans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  height: 4vh;
  color: #93aabd;
  border-bottom: 1px solid #6d6d6d;
  margin-bottom: 10px;
}


.add-input-group h4 {
  color: #fff;
  margin-left: -450px;
  font-weight: 200;
  font-size: 15px;
}

.add-input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.add-input-group-text .form-control {
  border: 1px solid #1d1c1c;
}

.form-control {
  width: 25vw;
}
.input-add {
  margin-top: 5px;
  appearance: none;
  background-color:#00000080;
  border: 1px solid #f4f4f4;
  border-radius: 0.6em;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.85em 2.6em;
  margin-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Numans', sans-serif;
  font-weight: 600;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.input-add:hover {
  box-shadow: 0 0 40px 40px #93aabd inset;
}

a:hover {
  color: #4696db;
}

.add-select {
  margin-left: 118px; 
}
.lib-buttons {
 margin-left: 190px;
 margin-bottom: 15px;
}
.lib-buttons-extra {
 margin-left: 45px;
 margin-bottom: 15px;
}
/* Client list */
.client-inner span {
  font-size: 12px;
  padding-right: 8px;
  color: #a7a5a5;
}
.client-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.clients-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: solid #fff 2px;
  height: 60vh;
  width: 40vw;
  margin: 1em;
  background-color: #00000080;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.clients-inner span {
  font-size: 12px;
  padding-right: 8px;
  color: #a7a5a5;
  /* align-self: center; */
}
/* Profiles Page */
.profile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  height: 150px;
  margin-bottom: 1rem;
  align-content: flex-start;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 10px 10px 5px -5px #8f8d8f;
}
.profile h2 {
font-size: 25px;
}

.profile span {
  padding-right: 1em;
  color: #5c5b5b;
  font-size: 12px;
}

.client-inner {
  margin-top: -10px;
  margin-bottom: 30px;
}

.client-links a {
  padding-right: 1em;
  font-size: 14px;
}

/* Add RM */
.add-rm {
  position: relative;
  background: url('./images/gloves.jpg') no-repeat center center/cover; 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.add-rm-container {
  margin-top: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-rm-card {
  padding-top: 10px;
  border: solid #fff 1px;
  height: 38vh;
  width: 25vw;
  background-color: #00000080;
  border: 1px solid #6d6d6d;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.add-rm-card h3{
  padding-right: 180px;
  margin-top: -8px;
  padding-top: 0.25em;
  font-family: 'Numans', sans-serif;
  background-color: #00000080;
  border-bottom: 1px solid #6d6d6d;
  height: 6vh;
  color: #93aabd;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.add-form {
  margin-top: 40px;
}

.input-add-rm {
  margin-top: 5px;
  appearance: none;
  background-color:#00000080;
  border: 1px solid #f4f4f4;
  border-radius: 0.6em;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.85em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Numans', sans-serif;
  font-weight: 600;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.input-add-rm:hover {
  box-shadow: 0 0 40px 40px #93aabd inset;
}

a:hover {
  color: #4696db;
}
.button-add i:hover {
  color: #ec8918;
}
/* Pagination */
.pagination  ul  {
  list-style:none;
  margin:0px 0px;
  padding:0px 0px;
}
.pagination li {
  float:left;
  padding:4px 4px;
}
/*Program*/

.program-form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  width: 26vw;
  min-width: 26vw;
  padding: 1em;
  height: 40vh;
  min-height: 40vh;
}

/* Client */

.client {
  position: relative;
  background: url('./images/gloves.jpg') no-repeat center center/cover; 
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  align-content: flex-start;
  text-align: center;
}

.clients-container {
  position: relative;
  background: url('./images/gloves.jpg') no-repeat center center/cover; 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.client-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
}
.client-details-container {
  margin-top: 130px;
  margin-left: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  background-color: #00000080;
}

.client-card {  
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  padding: .5em;
  background-color: #00000080;
  height: 90vh;
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid #535252 1px;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.rm-chart {
  margin-top: 100px;
  max-width: 40vw;
  min-width: 25vw;
  max-height: 40vh;
  margin-left: -70px;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.charts {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.calculate-form {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  padding: 1em;
  margin-top: 300px;
  align-self: center;
  align-content: center;
  max-width: 20vw;
}

.note-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  margin-left: 960px;
  max-height: 20vh;
  font-size: 14px;
  color: '#fff';
  padding-right: 8px;
  text-align: left;
  margin-top: -690px;
  max-width: 38vw;
  margin-bottom: 60px;
}

.icon-static {
  position: absolute;
  margin-top: -690px;
  margin-left: 920px
 
}
.add-notes {
  overflow: auto;
}

.add-notes textarea {
  overflow: hidden
}
.add-notes::-webkit-scrollbar {
  width: 10px;
}

.add-notes::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #103aad; 
  border-radius: 10px;
}
 
.add-notes::-webkit-scrollbar-thumb {
  background: #4aaaaa73; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.add-notes::-webkit-scrollbar-thumb:hover {
  background: #3a74af; 
}

.sublist {
  position: absolute;
}
.sublist li {
  height: 10px;
  padding: 0.75em;
  width: 200px;
  
}
.sublist a {
  position: relative;
  color: #fff;
}
.notes {
  color: #b4b1b1;
  font-weight: normal;
  overflow:auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 33vw;
  height: 15vh;
  font-size:  12px;
  text-align: justify;
  padding: 1em;
}
.notes::-webkit-scrollbar {
  width: 10px;
}

.notes::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #103aad; 
  border-radius: 10px;
}
 
.notes::-webkit-scrollbar-thumb {
  background: #4aaaaa73; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.notes::-webkit-scrollbar-thumb:hover {
  background: #3a74af; 
}

.client-card-body {
  padding: 1em;
}
.client-header {
  padding-bottom: 20px;
}

.client-header h3 {
  color: #f4f4f4;
  text-align: center;
  padding-left: 1.2em;
  font-family: 'Numans', sans-serif;
  font-size: 30px;
}

.client-header-links {
  font-size: 13px;
  margin-left: 10px;
}
.client-header-links a {
  padding: 1em;
}
.elem {
  color: #f4f4f4;
  font-size: 16px;
  padding-right: 2.8em;
  text-align: justify;
}


.calculate-form label {
  padding-right: 0.75em;
}

.calculate {
  margin-top: 5px;
  appearance: none;
  background-color:#00000080;
  border: 1px solid #f4f4f4;
  border-radius: 0.6em;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.7em 2.6em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Numans', sans-serif;
  font-weight: 300;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  margin-bottom: 0;
  margin-right: 0.5em;
}

.calculate:hover {
  box-shadow: 0 0 40px 40px #61c9a8af inset;
}
a:hover {
  color: #4696db;
}
.client-wrapper {
  padding: 3em;
}


.exercise-container::-webkit-scrollbar {
  width: 10px;
}

.exercise-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #103aad; 
  border-radius: 10px;
}
 
.exercise-container::-webkit-scrollbar-thumb {
  background: #4aaaaa73; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.exercise-container::-webkit-scrollbar-thumb:hover {
  background: #3a74af; 
}
.exercise-container {
  background-color:#00000080;
  position: relative;
  overflow: auto;
  align-content: center;
  margin-top: 150px;
  color: #fff;
  font-size: 13px;
  max-height: 40vh;
  max-width: 42vw;
  border: solid #535252 1px;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.exercise-container i {
  visibility: hidden;
}
.exercise-container a {
  visibility: hidden;
}

.exercise-container-inner td {
  padding-right: 1em;
  padding: .5em;
  padding-left: 1.80em;
}

.exercise-container-lists td {
 padding-right: 1.5em;
 font-size: 14px;
}


/* Exercise List */
.exercises {
  position: relative;
  background: url('./images/gloves.jpg') no-repeat center center/cover; 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.exercise-headers th {
  padding-right: 1em;
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
}

.exercises-container table {
  width: 40vw;
  border-collapse: collapse;
}

.exercises-container thead {
  border-bottom: 1px solid #6d6d6d;

}
.exercises-container th {
  font-weight: 300;
  font-size: 22px;
  color: #93aabd;
  border-bottom: 1px solid #6d6d6d;
  background-color: #00000080;
}
.exercises-container td {
  text-align: center;
  padding: 1em;
  padding-left: 2em;
  border-bottom: 1px solid #6d6d6d;
}

.exercises-container::-webkit-scrollbar {
  width: 10px;
}

.exercises-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #103aad; 
  border-radius: 10px;
}
 
.exercises-container::-webkit-scrollbar-thumb {
  background: #4aaaaa73; 
  border-radius: 10px;
  box-shadow: 0 0 1px #ffffff80;
}

.exercises-container::-webkit-scrollbar-thumb:hover {
  background: #3a74af; 
}
.exercises-container {
  position: relative;
  background-color:#00000080;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  overflow: auto;
  color: #fff;
  font-size: 13px;
  max-height: 80vh;
  width: 41vw;
  border: solid #535252 1px;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  align-self: center;
}
@-ms-viewport{
  width: device-width;
}
/* Responsive Styles */
@media screen and (max-width: 800px) {
  /* .client {
    position: relative;
    background: url('./images/gloves.jpg') no-repeat center center/cover; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
  } */
  
  /* .exercise-container {
    background-color:#00000080;
    position: relative;
    overflow: auto;
    align-self: center;
    align-content: center;
    margin-top: 50px;
    color: #fff;
    padding: 0;
    font-size: 11px;
    height: 60vh;
    max-height: 60vh;
    max-width: 40vw;
    border: solid #535252 1px;
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
  } */

  /* .client-card {  
    position: absolute;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding: .5em;
    background-color: #00000080;
    height: 80vh;
    max-height: 80vh;
    width: 25vw;
    max-width: 25vw;
    margin-left: -700px; 
    border: solid #535252 1px;
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }

  .client-card h3 {
    font-size: 20px;
  }
  .client-header {
    padding-bottom: 0;
  }

  .elem {
  font-size: 14px;
}
  .notes {
    color: #b4b1b1;
    font-weight: normal;
    overflow:auto;
    align-self: center;
    max-width: 35vw;
    font-size:  11px;
    text-align: justify;
    padding: 1em;
  }

  .notes h3 {
    font-size: 13px;
  }
  .note-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -500px;
    max-height: 40px;
    font-size: 14px;
    color: '#fff';
    padding-right: 8px;
    text-align: left;
    width: 60vw;
    max-width: 60vw;
   margin-top: 400px;
  }
  
  .rm-chart {
    position: absolute;
    align-self: flex-start;
    margin-right: -500px;
    background-color: #00000080;
    border: solid #535252 1px;
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }
  .calculate-form {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 1em;
    margin-top: 60px;
    align-self: center;
    align-content: center;
    max-width: 15vw;
  }
   */
}